<h1>Images#index</h1>
<ul>
  <% @images.each do |image|  %>
    <li>
      <%= image.title  %>
    </li>
    <li>
      <%= link_to image do %>
        <%=image_tag image.attachment.url(:medium) %>
      <% end %>  
    </li>
  <% end %>
</ul>
